*{
    margin: 0;
    padding: 0;
    /* width: 100vw; */
    right: 0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    cursor: pointer;
    background-color: black;
    height: 70px;
}


.navlist{
    display: flex;
    color: white;
    align-items: center;
}

.logo{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
    color: antiquewhite;
    font-family: 'Pacifico', cursive;
}

.logo img{
    width: 20%;
    border-radius: 50px;
    padding: 10px;

}

.navlist li{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 20px;
}

.navlist li a{
    text-decoration: none;
    color: white;
}

.navlist li a:hover{
    color: orangered;
}

nav .navlist .close{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.background{
    background: rgba(0, 0, 0, 0.7)url('https://cdn.wallpapersafari.com/22/37/nru3wc.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstsection{
    height: 100vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 50%;
    margin: auto;
    height: 100%;
}

.firsthalf{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.secondhalf img{
    border: 4px solid white;
    height: 450px;
    width: 450px;
    border-radius: 500px;
}

.secondhalf{
     padding-left: 20px;
}

.big{
   font-size: 50px;
}

.small{
    font-family: 'Allan', cursive;
}

.text{
    font-family: 'Allan', cursive;
}

.aboutbox{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 50%;
    margin: auto;
    height: 100%;
}

.subheading{
    text-align:center;
    color:green;
    font-size: 2rem;
    padding-top: 1rem;
}


.heading{
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
}

.menu .box-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.menu .box-container .box{
    padding: 2.5rem;
    background: #fff;
    border-radius: .5rem;
    border:.1rem solid rgba(0, 0, 0, .2);
    box-shadow: gray;
    width: 45vw;
    margin: 20px;
    text-align: center;
}

.menu .box-container .box img{
    height:17rem;
    width: 45vw;
    height: 30vw;
    margin:1rem 0;
    
}

.menu .box-container .box h3{
    color:black;
    font-size: 2.5rem;
}

.menu .box-container .box .stars{
    padding:1rem;
}

.menu .box-container .box .mo{
    padding-bottom: 20px;
    color: green;
    font-size: 20px;
}

.btn{
    color: white;
    background-color: rgb(27, 27, 56);
    border: 1px solid black;
    border-radius: 5px;
    font-style: italic;
    text-decoration: none;
    text-align: center;
    padding: 10px;
} 

.btn-dark{
    text-align: center;
    padding-top: 40px;
}


.order{
    background-color: rgb(184, 181, 178);
    margin-right: 0;
    height: 100vh;
    
}

.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3px 2px;
    padding-left: 220px;
    padding-top: 50px;
}

.input{
    line-height: 30px;
    margin: 5px;
}

.input input{
    width: 300px;
    height: 35px;
    padding: 0 10px;
    border: 2px solid white;
    outline: none;
    border-radius: 3px;
}

.footer{
    color:azure;
    text-align: center;
    background-color: rgb(17, 13, 13);
    height: 200px;
    }

.footer .one{
   padding: 30px;

}


.margin{
margin: 10px;
}

.burger{
   position: absolute;
   cursor: pointer;
   right: 5%;
   top: 15px;
   display: none;
}

.line{
    width: 33px;
    background-color: #fff;
    height: 5px;
    margin: 3px 3px;
}

@media screen and (max-width:1115px)
{

    body{
        width: 100vw;
    }
    .box-main{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        max-width: 70%;
        margin: auto;
        height: 100%;

}

    .form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3px 2px;
        padding-left: 130px;
        padding-top: 50px;
        overflow: hidden;

}
.secondhalf img {
    border: 4px solid white;
    height: 250px;
    width: 250px;
    border-radius: 300px;
}

.closeme{
    display: none;
}
}

@media screen and (max-width: 1115px) and (min-width: 836px)
{
    .form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3px 2px;
        padding-left: 60px;
        padding-top: 50px;
        overflow: hidden;
    }
    
    .order{
        height: auto;
    }

    .btn-dark{
        text-align: center;
        padding: 40px;
    }

    .closeme{
        display: none;
    }
}

@media screen and (max-width: 837px) and (min-width: 829px)
{
    .form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3px 2px;
        padding-left: 30px;
        padding-top: 50px;
        overflow: hidden;
    }

    .closeme{
        display: none;
    }

}

@media screen and (max-width: 828px) and (min-width:688px )
{
    .form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 30px;
        padding-top: 30px;

    }

    .order{
        height: 80vh;
    }

    .closeme{
        display: none;
    }

}

@media screen and (max-width: 688px) and (min-width: 412px)
{
    .form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 25px;
        padding-top: 25px;
    }

    .order{
        height: 100vh;
    }

    .secondhalf img {
        border: 4px solid white;
        height: 240px;
        width: 240px;
        border-radius: 350px;
    }

    .firsthalf{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: auto;
        padding-left: 20px;
    }

    .secondhalf{
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .navlist{
        display: none;
    }

    .burger{
        display: block;
    }

    .box-main{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column-reverse;
        color: white;
        margin: auto;
        width: 50%;
    }
    
    nav .navlist {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
    }

    nav .navlist .closeme{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 30px;
    }

    nav .navbar {
        display: block;
    }

    nav .navlist li a:hover {
        background: none;
        color: orangered;
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 411px) and (min-width: 376px)
{
   
    .form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 25px;
        padding-top: 25px;
    }

    .order{
        height: 100vh;
    }

    .secondhalf img {
        border: 4px solid white;
        height: 240px;
        width: 240px;
        border-radius: 350px;
    }

    .firsthalf{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: auto;
        padding-left: 20px;
    }

    .secondhalf{
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .navlist{
        display: none;
    }

    .burger{
        display: block;
    }

    .box-main{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column-reverse;
        color: white;
        margin: auto;
        width: 50%;
    }
    
    nav .navlist {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
    }

    nav .navlist .closeme{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav .navbar {
        display: block;
    }

    nav .navlist li a:hover {
        background: none;
        color: orangered;
        font-size: 1.6rem;
    }


.closeme{
        display: block;
    }
}

@media screen and (max-width: 375px)
{
   
    .form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 10px;
        padding-top: 25px;
    }

    .order{
        height: 150vh;
    }

    .secondhalf img {
        border: 4px solid white;
        height: 240px;
        width: 240px;
        border-radius: 350px;
    }

    .firsthalf{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: auto;
        padding-left: 20px;
    }

    .secondhalf{
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .navlist{
        display: none;
    }

    .burger{
        display: block;
    }

    .box-main{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column-reverse;
        color: white;
        margin: auto;
        width: 50%;
    }

    .firstsection{
        height: auto;
    }
    

nav .navlist {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
    }

    nav .navlist .closeme{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav .navbar {
        display: block;
    }

    nav .navlist li a:hover {
        background: none;
        color: orangered;
        font-size: 1.6rem;
    }

    .firstsection{
        height: 150vh;
    }
}
